asgiref
click
cycler
Django
Flask
gunicorn
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pyparsing
python-chess==0.31.4
python-dateutil
pytz
scipy
seaborn
six
sqlparse
Werkzeug
